a {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 18px;
    margin: 5px;
    text-align: center;

}
a :hover {
    background-color: darkgrey;
    color: white
}

nav{
    display: flex;
}

/* . for classes */
.background{
    background-color: white;
}

p{
    background-color: white;
}

body {
    background-color: darkblue;
}

/* # for IDs */
#primary{
    background-color: green;
}